<div id="cards-slide">
    <img src="<%= image_url("11.081.png") %>"  alt="First slide">
    <img src="<%= image_url("11.082.png") %>"  alt="Second slide">
    <img src="<%= image_url("11.083.png") %>"  alt="Third slide">
    <img src="<%= image_url("11.084.png") %>"  alt="Third slide">
</div>