<div class='d-flex cards-home'>
    <div class='card card card-home'>
        <div class='title'>
            <h1 class='mt-3 text-center title'>Constelação Familiar</h1>
        </div>
        <div class='p-5 col-12 text-justify content'>
        <h6>
        O que é a constelação familiar? Constelação Sistêmica Familiar é uma ferramenta terapêutica com diversas bases terapêuticas. O alemão Bert Hellinger, formado em filosofia, teologia, pedagogia, que também foi sacerdote e missionário na África do Sul, organizou as abordagens terapêuticas dos precursores Jakob Moreno (anos 30), pioneiro do psicodrama; de Ivan Boszormenyi-Nagy (anos 70), que desvendou os ciclos repetitivos nos sistemas familiares; a psicoterapeuta Virgínia Satir (anos 80), a qual trouxe as encenações familiares, o psiquiatra fundador da psicologia analítica, Carl Gustav Jung (anos 60), o biólogo e pesquisador Rupert Sheldrake (ainda vivo) além de outros renomados profissionais da área da saúde mental e filosofia. Dessa forma, não foi algo inventado pelo alemão. Além disso, a constelação utiliza fortemente a fenomenologia, de Edmund Husserl, observando e trabalhando com o fenômeno que aparece no momento, de acordo com as leis sistêmicas, as chamadas ordens do amor. Apesar de todo o seu arcabouço ...
        </h6>
        </div>
    </div>
</div>