<div class="banner">
  <div class="container">
    <h1>Bruna Bais</h1>
    <h2>Terapias Integrativas</h2>
    <p> <span id="banner-typed-text"></span></p>
    <%= link_to 'Saber Mais!', about_path, class:"btn btn-primary mt-3" %>
  </div>
</div>
