<div class="row mx-auto container my-1" id='footer-links'>
  <div class="btn-group col-12 justify-content-center border border-primary rounded pt-1" role="group">
    <%= link_to 'https://www.facebook.com/bruna.bais', target: "_blank" do %>
      <i class="fab fa-facebook m-1"></i>
    <% end %>
    <%= link_to 'https://instagram.com/bruna_bais?utm_medium=copy_link', target: "_blank" do %>
      <i class="fab fa-instagram m-1"></i>
    <% end %>
    <%= link_to 'https://twitter.com', target: "_blank" do %>
      <i class="fab fa-twitter-square m-1 mb-2"></i>
    <% end %>
  </div>
</div>
<div class='container border border-primary rounded mb-5 mx-auto'>
  <p class='text-center col-12 p-1 m-1'><strong>
    SGAN 608, cj F, bloco 2, edf Life Centro (em frente ao posto da UnB), sala 126, fone/whatsapp: (61) 98130-1317
    <span class='ml-2'> <%= link_to 'Onde Encontrar', 'https://www.waze.com/pt-BR/live-map/directions?to=ll.-15.75949327%2C-47.87643313', target: "_blank",
    class: 'btn btn-primary btn-sm', type: 'button' %> </span>
  </strong></p>
</div>